body{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: sticky;
    height: 80px;
    width: 100%;
}

.navItems{
    display: flex;
    flex-direction: row;
    padding: 4px 16px;
    align-items: center;
}

#leftItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pinLogOpt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 100%;

}

.buttonCont{
    display: block;
    box-sizing: border-box;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
}

.buttonCont a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: inherit;
}

#navBar{
    display: flex;
    box-sizing: border-box;
    height: 58px;
    padding-left: 8px;
    padding-right: 8px;
}

.barContainer{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    width: 100vh;
    height: 48px;
    background-color: rgb(227, 227, 227);
    border-radius: 40px;
}

.searchIcon{
    margin-right: 8px;
}

.searchIcon ion-icon{
    width: 16px;
    height: 16px;
}

input{
    background-color: transparent;
    border: none;
    color: rgb(86, 86, 86);
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 0;
}

#rightItems{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonCont .icon ion-icon{
    width: 30px;
    height: 30px;
}

.navItems img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

main{
    display: block;
    box-sizing: border-box;
}

.gallery{
    columns: 5 320px;
    column-gap: 0.5em;
}

.gallery img{
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    border-radius: 40px;
}