body{
    margin: 1em;
}

nav{
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    height: 80px;
    width: 100%;
}

.navItems{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#leftItems{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pinLogOpt{
    width: 24px;
    height: 24px;
}

img{
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    border-radius: 40px;
}

main{
    display: block;
    box-sizing: border-box;
    padding-top: 144px;
}

.gallery{
    columns: 5 320px;
    column-gap: 0.5em;
}