body{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    margin: 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    z-index: 2;
}

#navbar-pinterest{
    position: relative;
    height: 80px;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
}

#navItems{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#leftItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.icon:hover{
    background-color: rgb(238, 238, 238);
}

#pinterest-icon{
    font-size: 40px;
    color: red;
}

.buttonCont{
    display: flex;
    box-sizing: border-box;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonCont:focus{
    background-color: black;
    color: white;
}

.buttonCont span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 58px;
    padding-left: 16px;
    padding-right: 16px;
}

#buttonWiArr span ion-icon{
    margin-left: 4px;
}

#navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 230px;
    padding-left: 8px;
    padding-right: 8px;
}

.barContainer{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    height: 58px;
    background-color: rgb(238, 238, 238);
    border-radius: 40px;
}

.barContainer:hover{
    background-color: rgb(213, 213, 213);
}

.searchIcon{
    display: flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}

.searchIcon ion-icon{
    font-size: 20px;
    color: rgb(109, 109, 109);
}

input{
    background-color: transparent;
    border: none;
    color: rgb(86, 86, 86);
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 0;
}

#rightItems{
       display: flex;
       justify-content: center;
       align-items: center;
}

.iconButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButtons .icon ion-icon{
    font-size: 40px;
    color: rgb(109, 109, 109);
}

#arrowOpt{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

#arrowOpt ion-icon{
    font-size: 25px;
}

main{
    box-sizing: border-box;
    padding-top: 100px;
}

.gallery{
    columns: 6 250px;
    column-gap: 1em;
    margin: 0 140px;
}

.imgContainer{
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
    page-break-inside: avoid;
}

.card-image{
    position: relative;
}


.gallery img{
    max-width: 100%;
    display: block;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3;
}

#addButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 30px;
    opacity: 0;
    transition: 0.3s;
}

#save{
    background-color: rgb(201, 26, 26);
    color: #fff;
    margin: 15px;
    height: 3em;
    width: 7rem;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 20px;
}

#save:hover{
    background-color: rgb(146, 18, 18);
}

#bottomB{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
}

#bottomB button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 2em;
    height: 2em;
    font-size: 19px;
    margin: 0 5px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

#bottomB button:hover{
    background-color: #a7a7a7;
}

.imgContainer:hover #addButtons{
    opacity: 1;
}

.imgDescription{
    padding: 8px 8px 16px;
    text-align: justify;
}

.imgDescription p{
    line-height: 20px;
    font-size: 18px;
    margin: 0;
}

footer{
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: 72px;
    height: 72px;
    z-index: 660;
    right: 0px;
    margin: 16px;
    bottom: 0;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
}

.help:hover{
    background-color: rgb(241, 241, 241);
}

.help ion-icon{
    font-size: 45px;
}

@media screen and (min-width: 550px) and (max-width: 815px) {
    
    #navbar-pinterest{
        font-size: 13px;
        height: 60px;
    }
    
    .icon{
        width: 30px;
        height: 30px;
    }
    
    #pinterest-icon{
        font-size: 25px;
    }
    
    .buttonCont span{
        height: 38px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #buttonWiArr span ion-icon{
        margin-left: 2px;
    }
    
    #navBar{
        min-width: 230px;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .barContainer{
        padding-left: 10px;
        width: 100%;
        height: 40px;
        border-radius: 40px;
    }

    .searchIcon{
        margin-right: 4px;
    }
    
    .searchIcon ion-icon{
        font-size: 15px;
    }
    
    input{
        font-size: 14px;
    }

    .iconButtons .icon ion-icon{
        font-size: 20px;
    }
    
    #arrowOpt{
        width: 30px;
        height: 30px;
    }
    
    #arrowOpt ion-icon{
        font-size: 15px;
    }
    
    main{
        padding-top: 80px;
    }
    
    .gallery{
        columns: 6 120px;
        margin: 0 60px;
    }
    
    .imgContainer{
        margin-bottom: 1em;
    }
    
    #addButtons{
        display: none;
    }
    
    .imgDescription{
        padding: 3px 3px 8px;
    }
    
    .imgDescription p{
        line-height: 12px;
        font-size: 12px;
    }
}

@media screen and (min-width: 816px) and (max-width: 1060px){
    main{
        padding-top: 100px;
    }
    
    .gallery{
        columns: 6 160px;
        margin: 0 60px;
    }
    
    .imgContainer{
        margin-bottom: 1.5em;
    }
    
    .imgDescription{
        padding: 5px 5px 12px;
    }
    
    .imgDescription p{
        line-height: 14px;
        font-size: 15px;
    }
}
